* {
  text-align: center;
  background-color: rgb(209, 93, 184);
}


h2{
  font-size:70px;
  
}

button{
  width:90px;
  font-family: 'Poppins',sans-serif;
  font-size:50px;
  margin: 18px;
  border-radius: 18px;
  background:rgb(117, 110, 212);
  border:none;
  outline:none;
}

button:hover{
  width:91px;
  height:91px;
  border:none;
  outline:none;
  border-radius: 18px;
  background-color:#62b2e7;

}

.count{
  color:rgb(4, 63, 14);
  font-size:70px;}